body {
  height: 600px;
  overflow-y: scroll;
  width: 280px;
}

.popup {
  width: 280px;
  height: 600px;
  overflow-y: scroll;
  //
  th,
  td {
    text-align: left;
  }

  .folders-container {
    width: 300px;
  }

}